.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.introContainer {
  text-align: center;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.subheading {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.linkContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration:wavy;
  color: white;
  background-color: #0015ff;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #2832a7;
}
