/* Styles for centering the login form vertically and horizontally */
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Takes the full height of the viewport */
  background-color: #f4f4f4; /* Optional: Change the background color as needed */
}

.loginForm {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loginButton {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000dff;
  color: white;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #3000cc;
}

.socialLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.socialButton {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialButton .icon {
  margin-right: 10px;
}

.socialButton:first-child {
  background-color: #db4437;
  color: white;
}

.socialButton:first-child:hover {
  background-color: #c23321;
}

.socialButton:last-child {
  background-color: #3b5998;
  color: white;
}

.socialButton:last-child:hover {
  background-color: #2a4272;
}

.signUpLink {
  text-align: center;
  margin-top: 20px;
}
