/* Styles for centering the welcome page vertically and horizontally */
.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Takes the full height of the viewport */
  background-color: #f4f4f4; /* Optional: Change the background color as needed */
  padding: 20px;
}

.heading {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.subheading {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.notesLink {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0026ff;
  color: white;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notesLink:hover {
  background-color: #0017e8;
}
